
/* I learnt something new today, CSS can have variables, they are like normal variables
but they are defined in the root element and can be used anywhere in the CSS file.
*/

:root {
    --color-bg: #CAD2C5;
    /*  Main background */
    --color-surface: #84A98C;
    /*  Card/background section */
    --color-primary: #52796F;
    /*  Buttons, links, hover */
    --color-text: #354F52;
    /*  Normal text */
    --color-title: #2F3E46;
    /*  Headings or navbar */
}

/* Basic color layout for a website */

body {
    background-image: url("../css/background/background_image_2.png");
    background-color: var(--color-bg);
    color: #222;
    margin: 0;
    padding: 0;

}

/* Basically the before keyword creates something 
called a pseudo-element, which is an element 
that doesn't exist in the DOM but can be styled. DOM is basically 
the structure of HTML document */
body::before {
    content: "";
    position: fixed;
    background-image: url("../css/background/background_image_2.png");
    background-size: cover;
    top: 0;
    left: 0;
    /* vh is viewport height and vw is viewport width */
    height: 100vh;
    width: 100vw;
    /* Z index is basically the layering of elements, imagine like negative
    send to back and positive means send to front */
    z-index: -1;
    filter: blur(5px);
}

/* Obviously this is the side navbar, it is fixed to the left side of the screen*/
.sideNavBar {
    background-color: var(--color-surface);
    color: var(--color-text);
    padding: 20px;
    width: 0px;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 0.5s;
    
}


.sideNavBar ul li a {
    color: var(--color-text);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sideNavBar ul li a:hover {
    background-color: var(--color-primary);
    color: white;
}

.sideNavBar ul li a.active {
    background-color: var(--color-primary);
    color: white;
}

.sideNavBar h3 {
    color: var(--color-title);
    font-family: "Copperplate Gothic", "Copperplate", fantasy;
    text-align: center;
}

.sideNavBar ul {
    list-style-type: none;
    padding: 0;
}

#closeBtn {
  position: relative;
  left: 200px;
  top: 5px;
  
}

#closeBtn a {
    font-size: 50px;
}

#closeBtn a:hover {
    background-color: var(--color-primary);
    color: white;
    
}

.title-container {
    background-color: var(--color-title);
    font-family: "Copperplate Gothic", "Copperplate", fantasy;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: var(--color-title);
    color: white;
    padding: 2px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
}